apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  labels:
    external-secrets.io/component: controller
  name: rabbitmqs.generators.external-secrets.io
spec:
  group: generators.external-secrets.io
  names:
    categories:
    - external-secrets
    - external-secrets-generators
    kind: RabbitMQ
    listKind: RabbitMQList
    plural: rabbitmqs
    singular: rabbitmq
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: |-
          RabbitMQ generates a random password based on the.
          configuration parameters in spec.
          You can specify the length, characterset and other attributes.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: RabbitMQSpec user generation behavior for rabbitMQ.
            properties:
              auth:
                description: Auth defines the RabbitMQ authentication parameters.
                properties:
                  basicAuth:
                    description: BasicAuth contains basic authentication credentials.
                    properties:
                      passwordSecretRef:
                        description: PasswordSecretRef is a reference to a secret
                          containing the password.
                        properties:
                          key:
                            description: |-
                              A key in the referenced Secret.
                              Some instances of this field may be defaulted, in others it may be required.
                            maxLength: 253
                            minLength: 1
                            pattern: ^[-._a-zA-Z0-9]+$
                            type: string
                          name:
                            description: The name of the Secret resource being referred
                              to.
                            maxLength: 253
                            minLength: 1
                            pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                            type: string
                          namespace:
                            description: |-
                              The namespace of the Secret resource being referred to.
                              Ignored if referent is not cluster-scoped, otherwise defaults to the namespace of the referent.
                            maxLength: 63
                            minLength: 1
                            pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                            type: string
                        type: object
                      username:
                        description: |-
                          Username is the RabbitMQ username to connect to.
                          Must have sufficient permissions for administration tasks.
                        type: string
                    required:
                    - passwordSecretRef
                    - username
                    type: object
                type: object
              config:
                description: Config defines how to rotate the Secret within RabbitMQ.
                properties:
                  passwordPolicy:
                    description: PasswordPolicy contains the password policy to apply.
                    properties:
                      passwordGeneratorRef:
                        description: PasswordGeneratorRef is a reference to a password
                          generator.
                        properties:
                          kind:
                            type: string
                          name:
                            type: string
                        required:
                        - kind
                        - name
                        type: object
                      secretRef:
                        description: SecretRef is a reference to a Secret Key containing
                          the Password.
                        properties:
                          key:
                            description: |-
                              A key in the referenced Secret.
                              Some instances of this field may be defaulted, in others it may be required.
                            maxLength: 253
                            minLength: 1
                            pattern: ^[-._a-zA-Z0-9]+$
                            type: string
                          name:
                            description: The name of the Secret resource being referred
                              to.
                            maxLength: 253
                            minLength: 1
                            pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                            type: string
                          namespace:
                            description: |-
                              The namespace of the Secret resource being referred to.
                              Ignored if referent is not cluster-scoped, otherwise defaults to the namespace of the referent.
                            maxLength: 63
                            minLength: 1
                            pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                            type: string
                        type: object
                    type: object
                  username:
                    description: Username contains the target username to rotate passwords
                      for.
                    type: string
                required:
                - passwordPolicy
                - username
                type: object
              server:
                description: Server defines the RabbitMQ Server Parameters to connect
                  to.
                properties:
                  host:
                    description: Host is the hostname of the RabbitMQ server.
                    type: string
                  port:
                    default: 15672
                    description: Port is the port of the RabbitMQ server.
                    type: integer
                  tls:
                    default: false
                    description: TLS indicates whether to use TLS.
                    type: boolean
                required:
                - host
                type: object
            required:
            - auth
            - config
            - server
            type: object
          status:
            description: GeneratorStatus represents the status of a generator.
            properties:
              output:
                x-kubernetes-preserve-unknown-fields: true
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
