apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  labels:
    external-secrets.io/component: controller
  name: postgresqls.generators.external-secrets.io
spec:
  group: generators.external-secrets.io
  names:
    categories:
    - external-secrets
    - external-secrets-generators
    kind: PostgreSQL
    listKind: PostgreSQLList
    plural: postgresqls
    singular: postgresql
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: PostgreSQL generates a PostgreSQL user based on the configuration
          parameters in spec.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: PostgreSQLSpec controls the behavior of the postgreSQL generator.
            properties:
              auth:
                description: Auth contains the credentials or auth configuration
                properties:
                  password:
                    description: A basic auth password used to authenticate against
                      the PostgreSQL instance.
                    properties:
                      key:
                        description: |-
                          A key in the referenced Secret.
                          Some instances of this field may be defaulted, in others it may be required.
                        maxLength: 253
                        minLength: 1
                        pattern: ^[-._a-zA-Z0-9]+$
                        type: string
                      name:
                        description: The name of the Secret resource being referred
                          to.
                        maxLength: 253
                        minLength: 1
                        pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                        type: string
                      namespace:
                        description: |-
                          The namespace of the Secret resource being referred to.
                          Ignored if referent is not cluster-scoped, otherwise defaults to the namespace of the referent.
                        maxLength: 63
                        minLength: 1
                        pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                        type: string
                    type: object
                  username:
                    description: A basic auth username used to authenticate against
                      the PostgreSQL instance.
                    type: string
                required:
                - password
                - username
                type: object
              cleanupPolicy:
                description: PostgreSQLCleanupPolicy controls the cleanup policy for
                  the postgreSQL generator.
                properties:
                  activityTrackingInterval:
                    default: 2s
                    description: ActivityTrackingInterval is the cron expression to
                      run the user activity tracking
                    type: string
                  gracePeriod:
                    default: 2m
                    description: GracePeriod is the amount of time to wait before
                      deleting a secret.
                    format: duration
                    type: string
                  idleTimeout:
                    default: 24h
                    description: |-
                      IdleTimeout Indicates how long without activity a secret is considered inactive and can be removed.
                      Used only when type is "idle".
                    format: duration
                    type: string
                  type:
                    default: retainLatest
                    description: |-
                      Type of the cleanup policy. Supported values: "idle", "retainLatest".
                      idle: delete the secret if it has not been used for a while
                      retainLatest: delete older secrets when a new one is created
                    enum:
                    - idle
                    - retainLatest
                    type: string
                required:
                - type
                type: object
              database:
                default: postgres
                description: |-
                  Database is the name of the database to connect to.
                  If not specified, the "postgres" database will be used.
                type: string
              host:
                description: Host is the server where the database is hosted.
                type: string
              port:
                default: "5432"
                description: |-
                  Port is the port of the database to connect to.
                  If not specified, the "5432" port will be used.
                pattern: ^([0-9]{1,5}|[0-9]{1,5}\/[0-9]{1,5})$
                type: string
              user:
                description: User is the data of the user to be created.
                properties:
                  attributes:
                    description: Attributes is the list of PostgreSQL role attributes
                      assigned to this user.
                    items:
                      description: PostgreSQLUserAttribute defines a PostgreSQL user
                        attribute.
                      properties:
                        name:
                          description: |-
                            Attribute is the name of the PostgreSQL role attribute to be set for the user.
                            Valid values: SUPERUSER, CREATEDB, CREATEROLE, REPLICATION, NOINHERIT, BYPASSRLS, CONNECTION_LIMIT.
                          enum:
                          - SUPERUSER
                          - CREATEDB
                          - CREATEROLE
                          - REPLICATION
                          - NOINHERIT
                          - BYPASSRLS
                          - CONNECTION_LIMIT
                          type: string
                        value:
                          description: Optional value for the attribute (e.g., connection
                            limit)
                          type: string
                      required:
                      - name
                      type: object
                    type: array
                  destructiveCleanup:
                    default: false
                    description: |-
                      If set to true, the generator will drop all objects owned by the user
                      before deleting the user during cleanup.
                      If false (default), ownership of all objects will be reassigned
                      to the role specified in `spec.user.reassignTo`.
                    type: boolean
                  reassignTo:
                    description: |-
                      The name of the role to which all owned objects should be reassigned
                      during cleanup (if DestructiveCleanup is false).
                      If not specified, the role from `spec.auth.username` will be used.
                      If the role does not exist, it will be created with no attributes or roles..
                    type: string
                  roles:
                    description: |-
                      Roles is the list of existing roles that will be granted to this user.
                      If a role does not exist, it will be created without any attributes.
                    items:
                      type: string
                    type: array
                  suffixSize:
                    default: 8
                    description: |-
                      SuffixSize define the size of the random suffix added after the defined username.
                      If not specified, a random suffix of size 8 will be used.
                      If set to 0, no suffix will be added.
                    minimum: 0
                    type: integer
                  username:
                    description: The username of the user to be created.
                    type: string
                required:
                - username
                type: object
            required:
            - auth
            - database
            - host
            - port
            type: object
          status:
            description: GeneratorStatus represents the status of a generator.
            properties:
              output:
                x-kubernetes-preserve-unknown-fields: true
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
