apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  labels:
    external-secrets.io/component: controller
  name: openais.generators.external-secrets.io
spec:
  group: generators.external-secrets.io
  names:
    categories:
    - external-secrets
    - external-secrets-generators
    kind: OpenAI
    listKind: OpenAIList
    plural: openais
    singular: openai
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: OpenAI generates an OpenAI service account based on the configuration
          parameters in spec.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: OpenAISpec controls the behavior of the openAI generator.
            properties:
              cleanupPolicy:
                description: CleanupPolicy controls the behavior of the cleanup process
                properties:
                  gracePeriod:
                    default: 2m
                    description: GracePeriod is the amount of time to wait before
                      deleting a secret.
                    format: duration
                    type: string
                  idleTimeout:
                    default: 24h
                    description: |-
                      IdleTimeout Indicates how long without activity a secret is considered inactive and can be removed.
                      Used only when type is "idle".
                    format: duration
                    type: string
                  type:
                    default: retainLatest
                    description: |-
                      Type of the cleanup policy. Supported values: "idle", "retainLatest".
                      idle: delete the secret if it has not been used for a while
                      retainLatest: delete older secrets when a new one is created
                    enum:
                    - idle
                    - retainLatest
                    type: string
                required:
                - type
                type: object
              host:
                default: https://api.openai.com/v1
                description: |-
                  Host is the server where the openAI api is hosted.
                  Default: "https://api.openai.com/v1"
                type: string
              openAiAdminKey:
                description: OpenAiAdminKey contains the Admin API Key used to authenticate
                  against the OpenAI server.
                properties:
                  key:
                    description: |-
                      A key in the referenced Secret.
                      Some instances of this field may be defaulted, in others it may be required.
                    maxLength: 253
                    minLength: 1
                    pattern: ^[-._a-zA-Z0-9]+$
                    type: string
                  name:
                    description: The name of the Secret resource being referred to.
                    maxLength: 253
                    minLength: 1
                    pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                    type: string
                  namespace:
                    description: |-
                      The namespace of the Secret resource being referred to.
                      Ignored if referent is not cluster-scoped, otherwise defaults to the namespace of the referent.
                    maxLength: 63
                    minLength: 1
                    pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                    type: string
                type: object
              projectId:
                description: ProjectID is the id of the project the account will related
                  to.
                type: string
              serviceAccountNamePrefix:
                description: ServiceAccountNamePrefix define a prefix to add before
                  the generated name for the service account
                type: string
              serviceAccountNameSize:
                default: 12
                description: |-
                  ServiceAccountNameSize define the size of the generated name for the service account
                  Default: 12
                type: integer
            required:
            - host
            - openAiAdminKey
            - projectId
            type: object
          status:
            description: GeneratorStatus represents the status of a generator.
            properties:
              output:
                x-kubernetes-preserve-unknown-fields: true
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
