apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  labels:
    external-secrets.io/component: controller
  name: mongodbs.generators.external-secrets.io
spec:
  group: generators.external-secrets.io
  names:
    categories:
    - external-secrets
    - external-secrets-generators
    kind: MongoDB
    listKind: MongoDBList
    plural: mongodbs
    singular: mongodb
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MongoDB represents a MongoDB generator configuration.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: MongoDBSpec controls the behavior of the MongoDB generator.
            properties:
              auth:
                description: |-
                  Auth is the authentication configuration to authenticate
                  against the MongoDB instance.
                properties:
                  scram:
                    description: |-
                      Basic auth credentials used to authenticate against the MongoDB instance.
                      Note: you need a token which has elevated permissions to create service accounts.
                    properties:
                      secretRef:
                        description: MongoDBAuthSecretRef defines secret references
                          for MongoDB authentication.
                        properties:
                          passwordSecretRef:
                            description: |-
                              SecretKeySelector is a reference to a specific 'key' within a Secret resource.
                              In some instances, `key` is a required field.
                            properties:
                              key:
                                description: |-
                                  A key in the referenced Secret.
                                  Some instances of this field may be defaulted, in others it may be required.
                                maxLength: 253
                                minLength: 1
                                pattern: ^[-._a-zA-Z0-9]+$
                                type: string
                              name:
                                description: The name of the Secret resource being
                                  referred to.
                                maxLength: 253
                                minLength: 1
                                pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                                type: string
                              namespace:
                                description: |-
                                  The namespace of the Secret resource being referred to.
                                  Ignored if referent is not cluster-scoped, otherwise defaults to the namespace of the referent.
                                maxLength: 63
                                minLength: 1
                                pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                                type: string
                            type: object
                          usernameSecretRef:
                            description: |-
                              SecretKeySelector is a reference to a specific 'key' within a Secret resource.
                              In some instances, `key` is a required field.
                            properties:
                              key:
                                description: |-
                                  A key in the referenced Secret.
                                  Some instances of this field may be defaulted, in others it may be required.
                                maxLength: 253
                                minLength: 1
                                pattern: ^[-._a-zA-Z0-9]+$
                                type: string
                              name:
                                description: The name of the Secret resource being
                                  referred to.
                                maxLength: 253
                                minLength: 1
                                pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                                type: string
                              namespace:
                                description: |-
                                  The namespace of the Secret resource being referred to.
                                  Ignored if referent is not cluster-scoped, otherwise defaults to the namespace of the referent.
                                maxLength: 63
                                minLength: 1
                                pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                                type: string
                            type: object
                        type: object
                      username:
                        type: string
                    type: object
                type: object
              database:
                description: MongoDBDatabase defines the MongoDB database configuration.
                properties:
                  adminDB:
                    default: admin
                    description: AdminDB is the name of the admin database
                    type: string
                  host:
                    type: string
                  port:
                    default: 27017
                    description: Port is the port of the MongoDB instance. Defaults
                      to 27017
                    type: integer
                required:
                - host
                type: object
              user:
                description: |-
                  User is the configuration for the service account that
                  is supposed to be generated by the generator.
                properties:
                  name:
                    description: |-
                      Name is the name of the service account.
                      If not provided, the generator will create one.
                    type: string
                  roles:
                    description: Roles is the configuration for the service account
                    items:
                      description: MongoDBRole defines a MongoDB role configuration.
                      properties:
                        db:
                          description: DB is where the role will be applied.
                          type: string
                        name:
                          description: Name is the name of the role linked to the
                            service account.
                          type: string
                      required:
                      - db
                      - name
                      type: object
                    type: array
                required:
                - roles
                type: object
            required:
            - auth
            - database
            - user
            type: object
          status:
            description: GeneratorStatus represents the status of a generator.
            properties:
              output:
                x-kubernetes-preserve-unknown-fields: true
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
