apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  labels:
    external-secrets.io/component: controller
  name: neo4js.generators.external-secrets.io
spec:
  group: generators.external-secrets.io
  names:
    categories:
    - external-secrets
    - external-secrets-generators
    kind: Neo4j
    listKind: Neo4jList
    plural: neo4js
    singular: neo4j
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Neo4j generates a Neo4j user based on the configuration parameters
          in spec.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Neo4jSpec controls the behavior of the neo4j generator.
            properties:
              auth:
                description: Auth contains the credentials or auth configuration
                properties:
                  basic:
                    description: Basic auth credentials used to authenticate against
                      the Neo4j instance.
                    properties:
                      password:
                        description: A basic auth password used to authenticate against
                          the Neo4j instance.
                        properties:
                          key:
                            description: |-
                              A key in the referenced Secret.
                              Some instances of this field may be defaulted, in others it may be required.
                            maxLength: 253
                            minLength: 1
                            pattern: ^[-._a-zA-Z0-9]+$
                            type: string
                          name:
                            description: The name of the Secret resource being referred
                              to.
                            maxLength: 253
                            minLength: 1
                            pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                            type: string
                          namespace:
                            description: |-
                              The namespace of the Secret resource being referred to.
                              Ignored if referent is not cluster-scoped, otherwise defaults to the namespace of the referent.
                            maxLength: 63
                            minLength: 1
                            pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                            type: string
                        type: object
                      username:
                        description: A basic auth username used to authenticate against
                          the Neo4j instance.
                        type: string
                    required:
                    - password
                    - username
                    type: object
                  bearer:
                    description: Bearer auth token used to authenticate against the
                      Neo4j instance.
                    properties:
                      token:
                        description: A bearer auth token used to authenticate against
                          the Neo4j instance.
                        properties:
                          key:
                            description: |-
                              A key in the referenced Secret.
                              Some instances of this field may be defaulted, in others it may be required.
                            maxLength: 253
                            minLength: 1
                            pattern: ^[-._a-zA-Z0-9]+$
                            type: string
                          name:
                            description: The name of the Secret resource being referred
                              to.
                            maxLength: 253
                            minLength: 1
                            pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                            type: string
                          namespace:
                            description: |-
                              The namespace of the Secret resource being referred to.
                              Ignored if referent is not cluster-scoped, otherwise defaults to the namespace of the referent.
                            maxLength: 63
                            minLength: 1
                            pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                            type: string
                        type: object
                    required:
                    - token
                    type: object
                  uri:
                    description: |-
                      URI is the connection URI for the Neo4j database.
                      Example: bolt://neo4j.default.svc.cluster.local:7687
                    type: string
                required:
                - uri
                type: object
              database:
                default: neo4j
                description: |-
                  Database is the name of the database to connect to.
                  If not specified, the "neo4j" database will be used.
                type: string
              enterprise:
                default: false
                description: If the neo4j instance is running in enterprise mode.
                type: boolean
              user:
                description: User is the data of the user to be created.
                properties:
                  home:
                    description: The home database of the user (Neo4j Enterprise only).
                    type: string
                  provider:
                    default: native
                    description: |-
                      The auth provider to be used for the user (Neo4j Enterprise only).
                      Currently only "native" is supported.
                      "native" provider is used for Neo4j Community
                    enum:
                    - native
                    type: string
                  roles:
                    description: |-
                      The roles to be assigned to the user (Neo4j Enterprise only).
                      See https://neo4j.com/docs/operations-manual/current/authentication-authorization/built-in-roles/
                      for a list of built-in roles.
                      If contains non-existing roles, they will be created as copy of "PUBLIC" role.
                      If empty, the user will be created with no role.
                    items:
                      type: string
                    type: array
                  suffixSize:
                    default: 8
                    description: |-
                      SuffixSize define the size of the random suffix added after the defined username.
                      If not specified, a random suffix of size 8 will be used.
                      If set to 0, no suffix will be added.
                    minimum: 0
                    type: integer
                  user:
                    description: |-
                      The name of the user to be created.
                      Must not contain a dash ("-") character.
                    pattern: ^[^-\s]+$
                    type: string
                required:
                - provider
                - roles
                - user
                type: object
            required:
            - auth
            - database
            type: object
          status:
            description: GeneratorStatus represents the status of a generator.
            properties:
              output:
                x-kubernetes-preserve-unknown-fields: true
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
