apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.2
  name: gitlabs.providers.external-secrets.io
spec:
  group: providers.external-secrets.io
  names:
    categories:
    - gitlab
    kind: Gitlab
    listKind: GitlabList
    plural: gitlabs
    shortNames:
    - gitlab
    singular: gitlab
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Configures a store to sync secrets with a GitLab instance.
            properties:
              auth:
                description: Auth configures how secret-manager authenticates with
                  a GitLab instance.
                properties:
                  SecretRef:
                    properties:
                      accessToken:
                        description: AccessToken is used for authentication.
                        properties:
                          key:
                            description: |-
                              The key of the entry in the Secret resource's `data` field to be used. Some instances of this field may be
                              defaulted, in others it may be required.
                            type: string
                          name:
                            description: The name of the Secret resource being referred
                              to.
                            type: string
                          namespace:
                            description: |-
                              Namespace of the resource being referred to. Ignored if referent is not cluster-scoped. cluster-scoped defaults
                              to the namespace of the referent.
                            type: string
                        type: object
                    type: object
                required:
                - SecretRef
                type: object
              controller:
                description: |-
                  Used to select the correct ESO controller (think: ingress.ingressClassName)
                  The ESO controller is instantiated with a specific controller name and filters ES based on this property
                type: string
              environment:
                description: Environment environment_scope of gitlab CI/CD variables
                  (Please see https://docs.gitlab.com/ee/ci/environments/#create-a-static-environment
                  on how to create environments)
                type: string
              groupIDs:
                description: GroupIDs specify, which gitlab groups to pull secrets
                  from. Group secrets are read from left to right followed by the
                  project variables.
                items:
                  type: string
                type: array
              inheritFromGroups:
                description: InheritFromGroups specifies whether parent groups should
                  be discovered and checked for secrets.
                type: boolean
              projectID:
                description: ProjectID specifies a project where secrets are located.
                type: string
              refreshInterval:
                description: Used to configure store refresh interval in seconds.
                  Empty or 0 will default to the controller config.
                type: integer
              retrySettings:
                description: Used to configure http retries if failed
                properties:
                  maxRetries:
                    format: int32
                    type: integer
                  retryInterval:
                    type: string
                type: object
              url:
                description: URL configures the GitLab instance URL. Defaults to https://gitlab.com/.
                type: string
            required:
            - auth
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
