apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.2
  name: alibabas.providers.external-secrets.io
spec:
  group: providers.external-secrets.io
  names:
    categories:
    - alibaba
    kind: Alibaba
    listKind: AlibabaList
    plural: alibabas
    shortNames:
    - alibaba
    singular: alibaba
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: AlibabaProvider configures a store to sync secrets using
              the Alibaba Secret Manager provider.
            properties:
              auth:
                description: AlibabaAuth contains a secretRef for credentials.
                properties:
                  rrsa:
                    description: Authenticate against Alibaba using RRSA.
                    properties:
                      oidcProviderArn:
                        type: string
                      oidcTokenFilePath:
                        type: string
                      roleArn:
                        type: string
                      sessionName:
                        type: string
                    required:
                    - oidcProviderArn
                    - oidcTokenFilePath
                    - roleArn
                    - sessionName
                    type: object
                  secretRef:
                    description: AlibabaAuthSecretRef holds secret references for
                      Alibaba credentials.
                    properties:
                      accessKeyIDSecretRef:
                        description: The AccessKeyID is used for authentication
                        properties:
                          key:
                            description: |-
                              The key of the entry in the Secret resource's `data` field to be used. Some instances of this field may be
                              defaulted, in others it may be required.
                            type: string
                          name:
                            description: The name of the Secret resource being referred
                              to.
                            type: string
                          namespace:
                            description: |-
                              Namespace of the resource being referred to. Ignored if referent is not cluster-scoped. cluster-scoped defaults
                              to the namespace of the referent.
                            type: string
                        type: object
                      accessKeySecretSecretRef:
                        description: The AccessKeySecret is used for authentication
                        properties:
                          key:
                            description: |-
                              The key of the entry in the Secret resource's `data` field to be used. Some instances of this field may be
                              defaulted, in others it may be required.
                            type: string
                          name:
                            description: The name of the Secret resource being referred
                              to.
                            type: string
                          namespace:
                            description: |-
                              Namespace of the resource being referred to. Ignored if referent is not cluster-scoped. cluster-scoped defaults
                              to the namespace of the referent.
                            type: string
                        type: object
                    required:
                    - accessKeyIDSecretRef
                    - accessKeySecretSecretRef
                    type: object
                type: object
              controller:
                description: |-
                  Used to select the correct ESO controller (think: ingress.ingressClassName)
                  The ESO controller is instantiated with a specific controller name and filters ES based on this property
                type: string
              refreshInterval:
                description: Used to configure store refresh interval in seconds.
                  Empty or 0 will default to the controller config.
                type: integer
              regionID:
                description: Alibaba Region to be used for the provider
                type: string
              retrySettings:
                description: Used to configure http retries if failed
                properties:
                  maxRetries:
                    format: int32
                    type: integer
                  retryInterval:
                    type: string
                type: object
            required:
            - auth
            - regionID
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
