apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.2
  name: akeylesses.providers.external-secrets.io
spec:
  group: providers.external-secrets.io
  names:
    categories:
    - akeyless
    kind: Akeyless
    listKind: AkeylessList
    plural: akeylesses
    shortNames:
    - akeyless
    singular: akeyless
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: AkeylessSpec Configures an store to sync secrets using Akeyless
              KV.
            properties:
              akeylessGWApiURL:
                description: Akeyless GW API Url from which the secrets to be fetched
                  from.
                type: string
              authSecretRef:
                description: Auth configures how the operator authenticates with Akeyless.
                properties:
                  kubernetesAuth:
                    description: |-
                      Kubernetes authenticates with Akeyless by passing the ServiceAccount
                      token stored in the named Secret resource.
                    properties:
                      accessID:
                        description: the Akeyless Kubernetes auth-method access-id
                        type: string
                      k8sConfName:
                        description: Kubernetes-auth configuration name in Akeyless-Gateway
                        type: string
                      secretRef:
                        description: |-
                          Optional secret field containing a Kubernetes ServiceAccount JWT used
                          for authenticating with Akeyless. If a name is specified without a key,
                          `token` is the default. If one is not specified, the one bound to
                          the controller will be used.
                        properties:
                          key:
                            description: |-
                              The key of the entry in the Secret resource's `data` field to be used. Some instances of this field may be
                              defaulted, in others it may be required.
                            type: string
                          name:
                            description: The name of the Secret resource being referred
                              to.
                            type: string
                          namespace:
                            description: |-
                              Namespace of the resource being referred to. Ignored if referent is not cluster-scoped. cluster-scoped defaults
                              to the namespace of the referent.
                            type: string
                        type: object
                      serviceAccountRef:
                        description: |-
                          Optional service account field containing the name of a kubernetes ServiceAccount.
                          If the service account is specified, the service account secret token JWT will be used
                          for authenticating with Akeyless. If the service account selector is not supplied,
                          the secretRef will be used instead.
                        properties:
                          audiences:
                            description: |-
                              Audience specifies the `aud` claim for the service account token
                              If the service account uses a well-known annotation for e.g. IRSA or GCP Workload Identity
                              then this audiences will be appended to the list
                            items:
                              type: string
                            type: array
                          name:
                            description: The name of the ServiceAccount resource being
                              referred to.
                            type: string
                          namespace:
                            description: |-
                              Namespace of the resource being referred to. Ignored if referent is not cluster-scoped. cluster-scoped defaults
                              to the namespace of the referent.
                            type: string
                        required:
                        - name
                        type: object
                    required:
                    - accessID
                    - k8sConfName
                    type: object
                  secretRef:
                    description: |-
                      Reference to a Secret that contains the details
                      to authenticate with Akeyless.
                    properties:
                      accessID:
                        description: The SecretAccessID is used for authentication
                        properties:
                          key:
                            description: |-
                              The key of the entry in the Secret resource's `data` field to be used. Some instances of this field may be
                              defaulted, in others it may be required.
                            type: string
                          name:
                            description: The name of the Secret resource being referred
                              to.
                            type: string
                          namespace:
                            description: |-
                              Namespace of the resource being referred to. Ignored if referent is not cluster-scoped. cluster-scoped defaults
                              to the namespace of the referent.
                            type: string
                        type: object
                      accessType:
                        description: |-
                          A reference to a specific 'key' within a Secret resource,
                          In some instances, `key` is a required field.
                        properties:
                          key:
                            description: |-
                              The key of the entry in the Secret resource's `data` field to be used. Some instances of this field may be
                              defaulted, in others it may be required.
                            type: string
                          name:
                            description: The name of the Secret resource being referred
                              to.
                            type: string
                          namespace:
                            description: |-
                              Namespace of the resource being referred to. Ignored if referent is not cluster-scoped. cluster-scoped defaults
                              to the namespace of the referent.
                            type: string
                        type: object
                      accessTypeParam:
                        description: |-
                          A reference to a specific 'key' within a Secret resource,
                          In some instances, `key` is a required field.
                        properties:
                          key:
                            description: |-
                              The key of the entry in the Secret resource's `data` field to be used. Some instances of this field may be
                              defaulted, in others it may be required.
                            type: string
                          name:
                            description: The name of the Secret resource being referred
                              to.
                            type: string
                          namespace:
                            description: |-
                              Namespace of the resource being referred to. Ignored if referent is not cluster-scoped. cluster-scoped defaults
                              to the namespace of the referent.
                            type: string
                        type: object
                    type: object
                type: object
              caBundle:
                description: |-
                  PEM/base64 encoded CA bundle used to validate Akeyless Gateway certificate. Only used
                  if the AkeylessGWApiURL URL is using HTTPS protocol. If not set the system root certificates
                  are used to validate the TLS connection.
                format: byte
                type: string
              caProvider:
                description: The provider for the CA bundle to use to validate Akeyless
                  Gateway certificate.
                properties:
                  key:
                    description: The key where the CA certificate can be found in
                      the Secret or ConfigMap.
                    type: string
                  name:
                    description: The name of the object located at the provider type.
                    type: string
                  namespace:
                    description: |-
                      The namespace the Provider type is in.
                      Can only be defined when used in a ClusterSecretStore.
                    type: string
                  type:
                    description: The type of provider to use such as "Secret", or
                      "ConfigMap".
                    enum:
                    - Secret
                    - ConfigMap
                    type: string
                required:
                - name
                - type
                type: object
              controller:
                description: |-
                  Used to select the correct ESO controller (think: ingress.ingressClassName)
                  The ESO controller is instantiated with a specific controller name and filters ES based on this property
                type: string
              refreshInterval:
                description: Used to configure store refresh interval in seconds.
                  Empty or 0 will default to the controller config.
                type: integer
              retrySettings:
                description: Used to configure http retries if failed
                properties:
                  maxRetries:
                    format: int32
                    type: integer
                  retryInterval:
                    type: string
                type: object
            required:
            - akeylessGWApiURL
            - authSecretRef
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
