kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  labels:
    external-secrets.io/component: controller
  name: findings.scan.external-secrets.io
spec:
  group: scan.external-secrets.io
  names:
    categories:
    - external-secrets
    - external-secrets-scan
    kind: Finding
    listKind: FindingList
    plural: findings
    singular: finding
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Finding is the schema to store duplicate findings from a job
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: FindingSpec defines the desired state of Finding.
            properties:
              displayName:
                description: DisplayName is the display name of the finding.
                type: string
              hash:
                description: Hash is the hash of the finding (salted).
                type: string
              id:
                description: ID is the external ID of the finding.
                type: string
              runTemplateRef:
                description: RunTemplateRef is a reference to the run template.
                properties:
                  name:
                    description: Name is the name of the run template.
                    type: string
                required:
                - name
                type: object
            required:
            - id
            type: object
          status:
            description: FindingStatus defines the observed state of Finding.
            properties:
              locations:
                description: Locations is a list of SecretInStoreRef.
                items:
                  description: SecretInStoreRef defines a reference to a secret in
                    a secret store.
                  properties:
                    apiVersion:
                      type: string
                    kind:
                      type: string
                    name:
                      type: string
                    remoteRef:
                      description: RemoteRef defines a reference to a remote secret.
                      properties:
                        endIndex:
                          type: integer
                        key:
                          type: string
                        property:
                          type: string
                        startIndex:
                          type: integer
                      required:
                      - key
                      type: object
                  required:
                  - apiVersion
                  - kind
                  - name
                  - remoteRef
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
