apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  labels:
    external-secrets.io/component: controller
  name: githubrepositories.target.external-secrets.io
spec:
  group: target.external-secrets.io
  names:
    categories:
    - external-secrets
    - external-secrets-target
    kind: GithubRepository
    listKind: GithubRepositoryList
    plural: githubrepositories
    singular: githubrepository
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Ready")].reason
      name: Status
      type: string
    - jsonPath: .status.capabilities
      name: Capabilities
      type: string
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: GithubRepository is the schema for a GitHub target.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: GithubRepositorySpec contains the GithubRepository spec.
            properties:
              auth:
                description: Auth method to access the repository.
                maxProperties: 1
                minProperties: 1
                properties:
                  appAuth:
                    description: GitHub App authentication (JWT).
                    properties:
                      appID:
                        type: string
                      installID:
                        type: string
                      privateKey:
                        description: |-
                          SecretKeySelector is a reference to a specific 'key' within a Secret resource.
                          In some instances, `key` is a required field.
                        properties:
                          key:
                            description: |-
                              A key in the referenced Secret.
                              Some instances of this field may be defaulted, in others it may be required.
                            maxLength: 253
                            minLength: 1
                            pattern: ^[-._a-zA-Z0-9]+$
                            type: string
                          name:
                            description: The name of the Secret resource being referred
                              to.
                            maxLength: 253
                            minLength: 1
                            pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                            type: string
                          namespace:
                            description: |-
                              The namespace of the Secret resource being referred to.
                              Ignored if referent is not cluster-scoped, otherwise defaults to the namespace of the referent.
                            maxLength: 63
                            minLength: 1
                            pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                            type: string
                        type: object
                    required:
                    - appID
                    - installID
                    - privateKey
                    type: object
                  token:
                    description: Use a personal access token.
                    properties:
                      key:
                        description: |-
                          A key in the referenced Secret.
                          Some instances of this field may be defaulted, in others it may be required.
                        maxLength: 253
                        minLength: 1
                        pattern: ^[-._a-zA-Z0-9]+$
                        type: string
                      name:
                        description: The name of the Secret resource being referred
                          to.
                        maxLength: 253
                        minLength: 1
                        pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                        type: string
                      namespace:
                        description: |-
                          The namespace of the Secret resource being referred to.
                          Ignored if referent is not cluster-scoped, otherwise defaults to the namespace of the referent.
                        maxLength: 63
                        minLength: 1
                        pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                        type: string
                    type: object
                type: object
              branch:
                description: Branch to target (optional, defaults to default branch).
                type: string
              caBundle:
                description: CABundle is an optional PEM encoded CA bundle for HTTPS
                  verification (for GitHub Enterprise).
                type: string
              enterpriseUrl:
                description: |-
                  GitHub Enterprise endpoint. Format should be http(s)://[hostname]/api/v3/
                  or it will always return the 406 status code
                  If empty, default GitHub client will be configured
                type: string
              owner:
                description: Owner of the repository (user or organization).
                type: string
              paths:
                description: Paths to scan or push secrets to (relative to repo root).
                items:
                  type: string
                type: array
              repository:
                description: Repository name.
                type: string
              uploadUrl:
                description: |-
                  GitHub Enterprise upload endpoint. The upload URL format should be http(s)://[hostname]/api/uploads/
                  or it will always return the 406 status code
                  If empty, default GitHub client will be configured
                type: string
            required:
            - auth
            - owner
            - repository
            type: object
          status:
            description: TargetStatus defines the observed state of the Target.
            properties:
              capabilities:
                description: TargetCapabilities defines the possible operations a
                  Target can do.
                type: string
              conditions:
                items:
                  description: TargetStatusCondition defines the status of a Target.
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    status:
                      type: string
                    type:
                      description: TargetConditionType defines the possible conditions
                        a Target can have.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              pushIndex:
                additionalProperties:
                  items:
                    description: SecretUpdateRecord defines the timestamp when a PushSecret
                      was applied to a secret.
                    properties:
                      secretHash:
                        type: string
                      timestamp:
                        format: date-time
                        type: string
                    required:
                    - secretHash
                    - timestamp
                    type: object
                  type: array
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
