# permissions for end users to edit externalsecrets.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: externalsecret-editor-role
rules:
- apiGroups:
  - external-secrets.x-k8s.io
  resources:
  - externalsecrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - external-secrets.x-k8s.io
  resources:
  - externalsecrets/status
  verbs:
  - get
