site_name: External Secrets Operator
repo_url: https://github.com/external-secrets/external-secrets
repo_name: External Secrets Operator
site_dir: ../../site
docs_dir: ../../docs
edit_uri: ./edit/main/docs/
remote_branch: gh-pages
watch:
  - ../../docs
  - ../../overrides
theme:
  name: material
  palette:
    - scheme: default
      media: "(prefers-color-scheme: light)"
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.indexes
    - navigation.expand
  custom_dir: ../../overrides
  logo: pictures/eso-round-logo.svg
  favicon: pictures/eso-round-logo.svg
markdown_extensions:
  - attr_list
  - pymdownx.highlight
  - pymdownx.superfences
  - admonition
  - pymdownx.snippets:
      base_path: docs
plugins:
  - search:
      lang: en
  - macros:
      include_dir: docs/snippets
copyright: |
  &copy; 2025 The external-secrets Authors.<br/>
  &copy; 2025 The Linux Foundation. All rights reserved.<br/><br/>
  The Linux Foundation has registered trademarks and uses trademarks.<br/>
  For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage/">Trademark Usage page</a>.
extra:
  version:
    provider: mike
  analytics:
    provider: google
    property: G-QP38TD8K7V
nav:
  - Introduction:
      - Introduction: index.md
      - Overview: introduction/overview.md
      - Glossary: introduction/glossary.md
      - Prerequisites: introduction/prerequisites.md
      - Getting started: introduction/getting-started.md
      - FAQ: introduction/faq.md
      - Stability and Support: introduction/stability-support.md
      - Deprecation Policy: introduction/deprecation-policy.md
  - API:
      - Components: api/components.md
      - Core Resources:
          - ExternalSecret: api/externalsecret.md
          - SecretStore: api/secretstore.md
          - ClusterSecretStore: api/clustersecretstore.md
          - ClusterExternalSecret: api/clusterexternalsecret.md
          - ClusterPushSecret: api/clusterpushsecret.md
          - PushSecret: api/pushsecret.md
      - Generators:
          - "api/generator/index.md"
          - Azure Container Registry: api/generator/acr.md
          - AWS Elastic Container Registry: api/generator/ecr.md
          - AWS STS Session Token: api/generator/sts.md
          - Cloudsmith: api/generator/cloudsmith.md
          - Cluster Generator: api/generator/cluster.md
          - Google Container Registry: api/generator/gcr.md
          - Quay: api/generator/quay.md
          - Vault Dynamic Secret: api/generator/vault.md
          - Password: api/generator/password.md
          - Fake: api/generator/fake.md
          - Webhook: api/generator/webhook.md
          - Github: api/generator/github.md
          - UUID: api/generator/uuid.md
          - MFA: api/generator/mfa.md
          - SSHKey: api/generator/sshkey.md
      - Reference Docs:
          - API specification: api/spec.md
          - Controller Options: api/controller-options.md
          - Metrics: api/metrics.md
          - Selectable Fields: api/selectable-fields.md
  - Guides:
      - Introduction: guides/introduction.md
      - External Secrets:
          - Extract structured data: guides/all-keys-one-secret.md
          - Find Secrets by Name or Metadata: guides/getallsecrets.md
          - Rewriting Keys: guides/datafrom-rewrite.md
          - Advanced Templating:
              - v2: guides/templating.md
              - v1: guides/templating-v1.md
          - Kubernetes Secret Types: guides/common-k8s-secret-types.md
          - "Lifecycle: ownership & deletion": guides/ownership-deletion-policy.md
          - Decoding Strategies: guides/decoding-strategy.md
          - Controller Classes: guides/controller-class.md
      - Targeting Custom Resources: guides/targeting-custom-resources.md
      - Generators: guides/generator.md
      - Push Secrets: guides/pushsecrets.md
      - Operations:
          - Multi Tenancy: guides/multi-tenancy.md
          - Security Best Practices: guides/security-best-practices.md
          - Threat Model: guides/threat-model.md
          - Upgrading to v1beta1: guides/v1beta1.md
          - Using Latest Image: guides/using-latest-image.md
          - Disable Cluster Features: guides/disable-cluster-features.md
      - Tooling:
          - Using the esoctl tool: guides/using-esoctl-tool.md
  - Provider:
      - AWS Secrets Manager: provider/aws-secrets-manager.md
      - AWS Parameter Store: provider/aws-parameter-store.md
      - AWS Access: provider/aws-access.md
      - Azure Key Vault: provider/azure-key-vault.md
      - Barbican: provider/barbican.md
      - BeyondTrust: provider/beyondtrust.md
      - Bitwarden Secrets Manager: provider/bitwarden-secrets-manager.md
      - Chef: provider/chef.md
      - Cloud.ru Secret Manager: provider/cloudru.md
      - CyberArk Conjur: provider/conjur.md
      - Google Cloud Secret Manager: provider/google-secrets-manager.md
      - HashiCorp Vault: provider/hashicorp-vault.md
      - Kubernetes: provider/kubernetes.md
      - IBM Secrets Manager: provider/ibm-secrets-manager.md
      - Akeyless: provider/akeyless.md
      - Yandex Certificate Manager: provider/yandex-certificate-manager.md
      - Yandex Lockbox: provider/yandex-lockbox.md
      - GitLab Variables: provider/gitlab-variables.md
      - Github Actions Secrets: provider/github.md
      - Oracle Vault: provider/oracle-vault.md
      - OVHcloud: provider/ovhcloud.md
      - 1Password Connect Server: provider/1password-automation.md
      - 1Password SDK: provider/1password-sdk.md
      - Webhook: provider/webhook.md
      - Fake: provider/fake.md
      - senhasegura DevOps Secrets Management (DSM): provider/senhasegura-dsm.md
      - Doppler: provider/doppler.md
      - Keeper Security: provider/keeper-security.md
      - Cloak End 2 End Encrypted Secrets: provider/cloak.md
      - Scaleway: provider/scaleway.md
      - Delinea: provider/delinea.md
      - Secret Server: provider/secretserver.md
      - Passbolt: provider/passbolt.md
      - Pulumi ESC: provider/pulumi.md
      - Onboardbase: provider/onboardbase.md
      - Password Depot: provider-passworddepot.md
      - Fortanix: provider/fortanix.md
      - Infisical: provider/infisical.md
      - Previder: provider/previder.md
      - OpenBao: provider/openbao.md
      - Volcengine: provider/volcengine.md
      - ngrok: provider/ngrok.md
      - Devolutions Server: provider/devolutions-server.md
  - Examples:
      - FluxCD: examples/gitops-using-fluxcd.md
      - Anchore Engine: examples/anchore-engine-credentials.md
      - Jenkins: examples/jenkins-kubernetes-credentials.md
      - Bitwarden: examples/bitwarden.md
  - Community:
      - Contributing:
          - Developer guide: contributing/devguide.md
          - Contributing Process: contributing/process.md
          - Release Process: contributing/release.md
          - Code of Conduct: contributing/coc.md
          - Community meetings calendar: contributing/calendar.md
          - Roadmap: contributing/roadmap.md
          - Burnout Prevention: contributing/burnout-mitigation.md
          - LLM Policy: contributing/llm-policy.md
      - External Resources:
          - Talks: eso-talks.md
          - Demos: eso-demos.md
          - Blogs: eso-blogs.md
          - Tools: eso-tools.md
