site_name: External Secrets Operator
repo_url: https://github.com/external-secrets/external-secrets
repo_name: External Secrets Operator
site_dir: ../../site
docs_dir: ../../docs
edit_uri: ./edit/main/docs/
remote_branch: gh-pages
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.indexes
    - navigation.expand
  custom_dir: ../../overrides
  logo: pictures/eso-round-logo.svg
  favicon: pictures/eso-round-logo.svg
markdown_extensions:
  - attr_list
  - pymdownx.highlight
  - pymdownx.superfences
  - admonition
  - pymdownx.snippets:
      base_path: docs
plugins:
  - search:
      lang: en
  - macros:
      include_dir: docs/snippets
copyright: |
  &copy; 2024 The external-secrets Authors.<br/>
  &copy; 2024 The Linux Foundation. All rights reserved.<br/><br/>
  The Linux Foundation has registered trademarks and uses trademarks.<br/>
  For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage/">Trademark Usage page</a>.
extra:
  version:
    provider: mike
  analytics:
    provider: google
    property: G-QP38TD8K7V
nav:
  - Introduction:
      - Introduction: index.md
      - Overview: introduction/overview.md
      - Getting started: introduction/getting-started.md
      - FAQ: introduction/faq.md
      - Stability and Support: introduction/stability-support.md
      - Deprecation Policy: introduction/deprecation-policy.md
  - API:
    - Components: api/components.md
    - Core Resources:
      - ExternalSecret: api/externalsecret.md
      - SecretStore: api/secretstore.md
      - ClusterSecretStore: api/clustersecretstore.md
      - ClusterExternalSecret: api/clusterexternalsecret.md
      - PushSecret: api/pushsecret.md
    - Generators:
      - "api/generator/index.md"
      - Azure Container Registry: api/generator/acr.md
      - AWS Elastic Container Registry: api/generator/ecr.md
      - Google Container Registry: api/generator/gcr.md
      - Vault Dynamic Secret: api/generator/vault.md
      - Password: api/generator/password.md
      - Fake: api/generator/fake.md
      - Webhook: api/generator/webhook.md
      - Github: api/generator/github.md
    - Reference Docs:
      - API specification: api/spec.md
      - Controller Options: api/controller-options.md
      - Metrics: api/metrics.md
  - Guides:
      - Introduction: guides/introduction.md
      - External Secrets:
          - Extract structured data: guides/all-keys-one-secret.md
          - Find Secrets by Name or Metadata: guides/getallsecrets.md
          - Rewriting Keys: guides/datafrom-rewrite.md
          - Advanced Templating:
              - v2: guides/templating.md
              - v1: guides/templating-v1.md
          - Kubernetes Secret Types: guides/common-k8s-secret-types.md
          - "Lifecycle: ownership & deletion": guides/ownership-deletion-policy.md
          - Decoding Strategies: guides/decoding-strategy.md
          - Controller Classes: guides/controller-class.md
      - Generators: guides/generator.md
      - Push Secrets: guides/pushsecrets.md
      - Operations:
          - Multi Tenancy: guides/multi-tenancy.md
          - Security Best Practices: guides/security-best-practices.md
          - Threat Model: guides/threat-model.md
          - Upgrading to v1beta1: guides/v1beta1.md
          - Using Latest Image: guides/using-latest-image.md
          - Disable Cluster Features: guides/disable-cluster-features.md
  - Provider:
      - AWS Secrets Manager: provider/aws-secrets-manager.md
      - AWS Parameter Store: provider/aws-parameter-store.md
      - Azure Key Vault: provider/azure-key-vault.md
      - Bitwarden Secrets Manager: provider/bitwarden-secrets-manager.md
      - Chef: provider/chef.md
      - CyberArk Conjur: provider/conjur.md
      - Device42: provider/device42.md
      - Google Cloud Secret Manager: provider/google-secrets-manager.md
      - HashiCorp Vault: provider/hashicorp-vault.md
      - Kubernetes: provider/kubernetes.md
      - IBM Secrets Manager: provider/ibm-secrets-manager.md
      - Akeyless: provider/akeyless.md
      - Yandex Certificate Manager: provider/yandex-certificate-manager.md
      - Yandex Lockbox: provider/yandex-lockbox.md
      - Alibaba Cloud: provider/alibaba.md
      - GitLab Variables: provider/gitlab-variables.md
      - Oracle Vault: provider/oracle-vault.md
      - 1Password Secrets Automation: provider/1password-automation.md
      - Webhook: provider/webhook.md
      - Fake: provider/fake.md
      - senhasegura DevOps Secrets Management (DSM): provider/senhasegura-dsm.md
      - Doppler: provider/doppler.md
      - Keeper Security: provider/keeper-security.md
      - Cloak End 2 End Encrypted Secrets: provider/cloak.md
      - Scaleway: provider/scaleway.md
      - Delinea: provider/delinea.md
      - Secret Server: provider/delinea.md
      - Passbolt: provider/passbolt.md
      - Pulumi ESC: provider/pulumi.md
      - Onboardbase: provider/onboardbase.md
      - Password Depot: provider-passworddepot.md
      - Fortanix: provider/fortanix.md
      - Infisical: provider/infisical.md
  - Examples:
      - FluxCD: examples/gitops-using-fluxcd.md
      - Anchore Engine: examples/anchore-engine-credentials.md
      - Jenkins: examples/jenkins-kubernetes-credentials.md
      - BitWarden: examples/bitwarden.md
  - Community:
      - Contributing:
          - Developer guide: contributing/devguide.md
          - Contributing Process: contributing/process.md
          - Release Process: contributing/release.md
          - Code of Conduct: contributing/coc.md
          - Roadmap: contributing/roadmap.md
      - External Resources:
          - Talks: eso-talks.md
          - Demos: eso-demos.md
          - Blogs: eso-blogs.md
  - References:
      - API specification: spec.md
