site_name: External Secrets Operator
repo_url: https://github.com/external-secrets/external-secrets
repo_name: External Secrets Operator
site_dir: site
docs_dir: docs
theme:
  name: material
markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - admonition
  - pymdownx.snippets:
      base_path: docs
plugins:
  - search:
      lang: en
  - macros:
      include_dir: docs/snippets
extra:
  analytics:
    provider: google
    property: G-QP38TD8K7V
nav:
  - Introduction: index.md
  - Overview: api-overview.md
  - API Types:
      ExternalSecret: api-externalsecret.md
      SecretStore: api-secretstore.md
      ClusterSecretStore: api-clustersecretstore.md
  - Guides:
    - Introduction: guides-introduction.md
    - Getting started: guides-getting-started.md
    - Advanced Templating: guides-templating.md
    - All keys, One secret: guides-all-keys-one-secret.md
    - Multiple secrets: guides-multiple-secrets.md
    - Common K8S Secret Types: guides-common-k8s-secret-types.md
    - Multi Tenancy: guides-multi-tenancy.md
    - Metrics: guides-metrics.md
    - Using Latest Image: guides-using-latest-image.md
    - GitOps using FluxCD: guides-gitops-using-fluxcd.md
  - Provider:
    - AWS:
      - Secrets Manager: provider-aws-secrets-manager.md
      - Parameter Store: provider-aws-parameter-store.md
    - Azure:
      - Key Vault: provider-azure-key-vault.md
    - Google:
      - Secrets Manager: provider-google-secrets-manager.md
    - IBM:
      - Secrets Manager: provider-ibm-secrets-manager.md
    - Akeyless: provider-akeyless.md
    - HashiCorp Vault: provider-hashicorp-vault.md
    - Yandex:
        - Lockbox: provider-yandex-lockbox.md
    - Gitlab:
      - Gitlab Project Variables: provider-gitlab-project-variables.md
    - Oracle:
      - Oracle Vault: provider-oracle-vault.md
    - Webhook: provider-webhook.md
  - References:
    - API specification: spec.md
  - Contributing:
    - Developer guide: contributing-devguide.md
    - Contributing Process: contributing-process.md
    - Code of Conduct: contributing-coc.md
  - Deprecation Policy: deprecation-policy.md
