Babel==2.17.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.1.8
colorama==0.4.6
csscompressor==0.9.5
ghp-import==2.1.0
htmlmin==0.1.12
idna==3.10
importlib-metadata==8.7.0
importlib-resources==6.5.2
Jinja2==3.1.6
jsmin==3.0.1
livereload==2.7.1
Markdown==3.9
MarkupSafe==3.0.2
mergedeep==1.3.4
mike @ git+https://github.com/jimporter/mike@300593c338b18f61f604d18457c351e166318020
mkdocs==1.6.1
mkdocs-macros-plugin==1.3.9
mkdocs-material==9.6.20
mkdocs-material-extensions==1.3.1
mkdocs-minify-plugin==0.8.0
packaging==25.0
paginate==0.5.7
pathspec==0.12.1
pep562==1.1
platformdirs==4.4.0
Pygments==2.19.2
pymdown-extensions==10.16.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
pyyaml_env_tag==1.1
regex==2025.9.1
requests==2.32.5
six==1.17.0
termcolor==3.1.0
tornado==6.5.2
urllib3==2.5.0
verspec==0.1.0
watchdog==6.0.0
zipp==3.23.0
