apiVersion: v2
name: external-secrets
description: External secret management for Kubernetes
type: application
version: "0.9.16"
appVersion: "v0.9.16"
kubeVersion: ">= 1.19.0-0"
keywords:
  - kubernetes-external-secrets
  - secrets
home: https://github.com/external-secrets/external-secrets
icon: https://raw.githubusercontent.com/external-secrets/external-secrets/main/assets/eso-logo-large.png
maintainers:
  - name: mcavoyk
    email: kellinmcavoy@gmail.com
