name: CRDs

on:
  push:
    branches:
      - main
    paths:
      - 'apis/**'
  pull_request:
    paths:
      - 'apis/**'
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  crd-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Generate crds for testing
        run: make crds.generate.tests

      - name: Run crd tests
        run: make test.crds
