name: CRDs

on:
  push:
    branches:
      - main
    paths:
      - 'apis/**'
  pull_request:
    paths:
      - 'apis/**'
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  crd-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Generate crds for testing
        run: make crds.generate.tests

      - name: Run crd tests
        run: make test.crds
