name: Dependency License Checks

on:
  pull_request:
    paths:
      - "go.mod"
  workflow_dispatch: {}

permissions:
  contents: read

env:
  HAS_FOSSA_KEY: ${{ secrets.FOSSA_API_KEY != '' }}

jobs:
  fossa-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        if: ${{ env.HAS_FOSSA_KEY == 'true' }}
        with:
          egress-policy: audit
      - name: "Checkout Code"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        if: ${{ env.HAS_FOSSA_KEY == 'true' }}

      - name: "Run FOSSA Scan"
        uses: fossas/fossa-action@3ebcea1862c6ffbd5cf1b4d0bd6b3fe7bd6f2cac # main
        if: ${{ env.HAS_FOSSA_KEY == 'true' }}
        with:
          api-key: ${{secrets.FOSSA_API_KEY}}

      - name: "Run FOSSA Test"
        uses: fossas/fossa-action@3ebcea1862c6ffbd5cf1b4d0bd6b3fe7bd6f2cac # main
        if: ${{ env.HAS_FOSSA_KEY == 'true' }}
        with:
          api-key: ${{secrets.FOSSA_API_KEY}}
          run-tests: true
