name: Dependency License Checks

on:
  pull_request:
    paths:
      - "go.mod"
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  fossa-scan:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Code"
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: "Run FOSSA Scan"
        uses: fossas/fossa-action@09bcf127dc0ccb4b5a023f6f906728878e8610ba # main
        with:
          api-key: ${{secrets.FOSSA_API_KEY}}

      - name: "Run FOSSA Test"
        uses: fossas/fossa-action@09bcf127dc0ccb4b5a023f6f906728878e8610ba # main
        with:
          api-key: ${{secrets.FOSSA_API_KEY}}
          run-tests: true
