name: Dependency License Checks

on:
  pull_request:
    paths:
      - "go.mod"
  workflow_dispatch: {}

permissions:
  contents: read

env:
  HAS_FOSSA_KEY: ${{ secrets.FOSSA_API_KEY != '' }}

jobs:
  fossa-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        if: ${{ env.HAS_FOSSA_KEY == 'true' }}
        with:
          egress-policy: audit
      - name: "Checkout Code"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        if: ${{ env.HAS_FOSSA_KEY == 'true' }}

      - name: "Run FOSSA Scan"
        uses: fossas/fossa-action@3ebcea1862c6ffbd5cf1b4d0bd6b3fe7bd6f2cac # main
        if: ${{ env.HAS_FOSSA_KEY == 'true' }}
        with:
          api-key: ${{secrets.FOSSA_API_KEY}}

      - name: "Run FOSSA Test"
        uses: fossas/fossa-action@3ebcea1862c6ffbd5cf1b4d0bd6b3fe7bd6f2cac # main
        if: ${{ env.HAS_FOSSA_KEY == 'true' }}
        with:
          api-key: ${{secrets.FOSSA_API_KEY}}
          run-tests: true
