name: Dependency License Checks

on:
  pull_request:
    paths:
      - "go.mod"
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  fossa-scan:
    if: secrets.FOSSA_API_KEY != ''
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit
      - name: "Checkout Code"
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: "Run FOSSA Scan"
        uses: fossas/fossa-action@c0a7d013f84c8ee5e910593186598625513cc1e4 # main
        with:
          api-key: ${{secrets.FOSSA_API_KEY}}

      - name: "Run FOSSA Test"
        uses: fossas/fossa-action@c0a7d013f84c8ee5e910593186598625513cc1e4 # main
        with:
          api-key: ${{secrets.FOSSA_API_KEY}}
          run-tests: true
