name: Deploy Docs

on:
  push:
    branches:
      - main
env:
  # Common versions
  GO_VERSION: '1.17'

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Build Docs
        run: make docs.publish
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"